{% extends 'base.html' %} 

{% block title %}Analyze{% endblock title %} 

{% block body %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> Your text has been analyzed according to input.
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

<div class="container">
  <h1>Your Analyzed Text - {{purpose}}</h1>
  <p>
    <pre>{{analyzed_text}}</pre>
  </p>
</div>

{% endblock body %}
